.red { color: red; }

.my-alert {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;

    p {
        margin-bottom: 0;
    }

}

.my-alert-yellow {
    @extend .my-alert;
    background: #ffe591;
}